* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2F2E41;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}
header,
footer {
    background-color: #6C63FF;
}

header {
    height: 80px;
}

.header-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    background-color: #fff;
    padding-bottom: 50px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0 70px;

}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}


.cards-wrap {
    display: flex;
    justify-content: space-between;
    /* отступ между элементами */
    gap: 15px;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    width: 370px;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*   чтобы элемент забирал все свободное пространство */
    flex-grow: 1;
}

.card-img {
    margin: 40px 0 36px;
}

.card-text span {
    font-weight: 700;
}


.nav-list {
    padding: 20px 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.list-item{
    padding: 9px 15px;
 
}
.nav-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items:center;
}

.nav-icon {
    margin-right: 10px;
}

@media (max-width:768px) {
    .title{
        margin: 46px 0;
        line-height: 42px;
    }
    .nav-list {
        padding: 20px 0px;
    }
}
@media (max-width:576px) {
    .title{
        margin: 44px 0 36px;
        font-size: 36px;
        line-height: 36px;
    }
    .list-item {
        width: 50%;
        
    }
}